<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포트폴리오</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>



</head>
<body>
<script>
  const firebaseConfig = {
    apiKey: "AIzaSyDDltuySu-IwUUkFBWqpAzIpaKmSwl0s0g",
    authDomain: "frontend-de63a.firebaseapp.com",
    projectId: "frontend-de63a",
    storageBucket: "frontend-de63a.appspot.com",
    messagingSenderId: "534702262257",
    appId: "1:534702262257:web:2fe75a67924d4918dd6650",
    measurementId: "G-JFQ9QWB8Q2"
  };

  // Firebase 초기화
  const app = firebase.initializeApp(firebaseConfig);
  const analytics = firebase.analytics(app);
</script>

	<div class="navbar w3-card">
    <a href="#section1" onclick="scrollToSection(event, 'main')" class="w3-bar-item">Home</a>
    <a href="#section2" onclick="scrollToSection(event, 'profile')" class="w3-bar-item">About</a>
    <a href="#section3" onclick="scrollToSection(event, 'skill')" class="w3-bar-item">Skills</a>
    <a href="#section4" onclick="scrollToSection(event, 'project')" class="w3-bar-item">Project</a>
    <a href="#section5" onclick="scrollToSection(event, 'contact')" class="w3-bar-item">Contact</a>
</div>
	
    <!-- 패럴럭스 배경 섹션 -->
    <section class="main-section" id="main">
        <h1 class="typing-txt">개발자 유지환의 포트폴리오 입니다.</h1>
        <h1 class="typing"></h1>
    </section>

    <!-- 프로필 섹션 -->
    <section class="profile-section" id="profile">
        <h2>About Me</h2>
        <div class="profile-container">
        <h1 class="profile-title">노력하는 사람</h1>
        <div class="profile-description">
            <p>어릴때 부터 무언가를 만들기 좋아하는 성격에 만들어 보았던 도서 관리 앱으로 무언가를 코드로 만드는 것에 재미를 느껴 그때부터 개발자를 목표로 하게 되었습니다.<br>앞으로도 배우기 위해 노력하는 사람이 되겠습니다.<br>잘부탁합니다.</p>
        </div>
    </div>
    </section>
    
    <!-- 스킬 섹션 -->
    <section class="skill-section" id="skill">
        <h2>Skills</h2>
        <div class="w3-container w3-white w3-card-4 w3-round skill_card">
        <div>
            <div class="s6 skill_item">
		    <img class="skill_item_image" src="https://firebasestorage.googleapis.com/v0/b/frontend-de63a.appspot.com/o/icon%2Flan.svg?alt=media&token=4e325546-aca0-4a94-b14d-c0eb298ad37f">
                <span>Language:</span>
                <span class="value w3-black w3-text-white">JavaScript</span>
		    <span class="value w3-teal">Python</span>
		    <span class="value w3-light-blue w3-text-white">Java</span>
		    <span class="value w3-green">C</span>
		    <span class="value w3-purple">C#</span>
		    <span class="value w3-orange w3-text-white">C++</span>
            </div>
            <div class="s6 skill_item">
		    <img class="skill_item_image" src="https://firebasestorage.googleapis.com/v0/b/frontend-de63a.appspot.com/o/icon%2Ffront.svg?alt=media&token=3252f202-6d13-43a5-a0d2-7f6285498f09">
                <span>Frontend:</span>
                <span class="value w3-red">Vue.js</span>
		<span class="value w3-purple">React</span>
		<span class="value w3-teal">HTML</span>
		<span class="value w3-light-green w3-text-white">CSS</span>
		<span class="value w3-orange w3-text-white">sass</span>
            </div>
            <div class="s6 skill_item">
		    <img class="skill_item_image" src="https://firebasestorage.googleapis.com/v0/b/frontend-de63a.appspot.com/o/icon%2Fback.svg?alt=media&token=79dee584-3324-40d2-81e2-69ed75118372">
                <span>Backend:</span>
                <span class="value w3-gray w3-text-white">Flask</span>
		<span class="value w3-orange w3-text-white">tomcat</span>
		<span class="value w3-pink">firebase</span>
            </div>
            <div class="s6 skill_item">
		    <img class="skill_item_image" src="https://firebasestorage.googleapis.com/v0/b/frontend-de63a.appspot.com/o/icon%2Fdb.svg?alt=media&token=3eed3edf-6134-433e-a037-3fe0a2736df0">
                <span>Database:</span>
                <span class="value w3-black w3-text-white">MariaDB</span>
		<span class="value w3-light-blue w3-text-white">SQLite</span>
		<span class="value w3-teal">AWS</span>
		<span class="value w3-pink">Oracle</span>
            </div>
        </div>
    </div>

    </section>

<section class="archiv-section w3-sand" id="archiv-section">
    <div><h2>Archive</h2>
    <div class="archive-content">
        <div class="github-container">
            <img src="https://firebasestorage.googleapis.com/v0/b/frontend-de63a.appspot.com/o/icon%2Fgithub_icon_white.png?alt=media&token=61a3b82f-f529-4364-9b80-1dacbefbab36" alt="GitHub Icon" class="github-icon">
            <div>
		    <h1>Github</h1>
		    <a href="https://github.com/yjh-311" class="github-link">https://github.com/yjh-311</a>
		    <p>소스 코드 저장소</p>
	    </div>		    
        </div>
    </div>
	    </div>
</section>

	
<section id="project">
	<div class="project_title">
			<h2>Projects</h2>
		</div>
    <div id="myapp">
        
        <!-- 프로젝트 추가 폼 -->
        <div v-show="lightOn">
            <form id="projectForm" @submit.prevent="addProject" class="w3-container w3-card w3-padding-large">
    			<div class="w3-row edit_title">
				<h2 class="w3-text-teal">프로젝트 추가</h2>
				<button v-on:click="lightOn = !lightOn" class="w3-button w3-hover-teal w3-teal w3-circle x_btn" onclick="scrollToSection(event, 'project')">X</button>
			</div>

    			<label for="name" class="w3-text-teal"><b>이름:</b></label>
    			<input type="text" id="name" v-model="newProject.name" class="w3-input w3-border w3-round w3-hover-border-black" required>
    			<br>

    			<label for="description" class="w3-text-teal"><b>설명:</b></label>
    			<!--<input type="text" v-model="newProject.description" class="w3-input w3-border w3-round" required>-->
    			<input type="text-area" id="description" v-model="newProject.description" class="w3-input w3-border w3-round w3-hover-border-black" required>
    			<br>

    			<!--<label for="image" class="w3-text-teal"><b>이미지 업로드:</b></label>
			<input type="file" id="image" @change="onFileChange" class="w3-input w3-border w3-round" required>-->
		    	<div class="upload-container">
        			<label for="image" class="w3-button w3-teal w3-round">이미지 업로드</label>
        			<input type="file" id="image" accept="image/*" style="display: none;">
    			</div>
    			<br>

    			<label for="date_start" class="w3-text-teal"><b>부터:</b></label>
    			<input type="date" id="date_start" v-model="newProject.date_start" class="w3-input w3-border w3-round w3-hover-border-black" required>
    			<br>
    			
    			<label for="date_end" class="w3-text-teal"><b>까지:</b></label>
    			<input type="date" id="date_end" v-model="newProject.date_end" class="w3-input w3-border w3-round w3-hover-border-black" required>

    			<button type="submit" class="w3-button w3-hover-teal w3-teal w3-round-large w3-margin-top">추가</button>
			</form>
        </div>
		<br>
        <div class="portfolio" id="portfolio-container">
            <!-- 프로젝트 목록 표시 -->
            <!--<div v-for="project in projects" :key="project.id" class="project w3-border w3-hover-border-white  w3-border-black">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <img :src="project.link" alt="project image">
                <p class="date">Completed on: {{ project.date }}</p>
                <button v-if="lightOn" class="delete-btn" @click="deleteProject(project.id)">삭제</button>
            </div>-->
            
            <div class="imgHoverEvent event1 project w3-border w3-hover-border-gray  w3-border-black"  v-for="project in projects" :key="project.id">
            	<div class="imgBox">
					<img :src="project.imageUrl" alt="" class="project-image">
				</div>
            	<div class="hoverBox">
                	<h3 class="p1">{{ project.name }}</h3>
                	<p class="p2">{{ project.description }}</p>
                	<p class="p2 w3-display-bottomleft">개발 기간: {{ project.date_start }} ~ {{ project.date_end }} <button v-if="lightOn" class="delete-btn w3-right" @click="deleteProject(project.id)">삭제</button></p>
            	</div>
        	</div>
		</div>
<button v-on:click="lightOn = !lightOn" class="w3-button w3-hover-teal w3-teal w3-round-large w3-right" onclick="scrollToSection(event, 'project')">Edit</button>
	    <br>
    </div>

</section>

<section class="contact-section" id="contact">
	<div class="contact_title">
		<h2>Contact Me!</h2>
		<br>
		<h3>Email : kusatyd@naver.com</h3>
	</div>
</section>

    <script src="app.js"></script>
</body>
</html>
